<div class="container">
  <%= simple_form_for [@user_gig, @comment] do |f|%>
    <%= f.input :content, label: 'Comment' %>
    <%= f.input :rating %>
    <%= f.input :photo, as: :file  %>
    <div class="form-actions">
      <div class="form-actions-buttons">
        <%= f.submit "Upload memories", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
