<%= turbo_frame_tag "modal" do %>
  <div class="modal-form">
    <div class="modal-center-container">
      <h2 class="pt-5 modal-header">Add a memory</h2>
        <div class="">
          <%= simple_form_for [@user_gig, @comment], data: {turbo_frame: "_top"} do |f|%>
            <%= f.input :content, as: :text, input_html: {rows: 3, cols: 10},  label: 'Comment' %>
            <%= f.input :rating, as: :radio_buttons, :collection => 1..5 %>
            <%= f.input :files, as: :file, input_html: { multiple: true } %>
            <%= f.submit "Upload memories", class: "btn primary-btn" %>
          <% end %>
        </div>
    </div>
  </div>
<% end %>
