<div class="container">
  <%# <h2 class="text-center">Dashboard</h2> %>
    <div class="gigs-buttons">
      <h2 class="pg"><%= link_to "Past Gigs", past_gigs_user_gigs_path, class: "link-pg-btn" %></h2>
      <h2 class="ug"><%= link_to "Upcoming Gigs", upcoming_gigs_user_gigs_path, class: "link-ug-btn" %></h2>
      <h2 class="gg"><%= link_to "Gigs", gigs_path, class: "link-gg-btn" %></h2>
    </div>

  <div class="gigs-container">
      <div class="past-gigs-container">
          <h2 class="pg">Gigs you have been to</h2>
        <div class="past-gigs row">
          <% @past_gigs.each do |past_gig| %>
            <div class="all-past-gigs col">

                <div class="past-gigs-card">
                  <% if past_gig.gig.wiki_photo_url != nil %>
                    <div class="pg-card-img-wrap"><img src="<%= past_gig.gig.wiki_photo_url %>" class="pg-card-img"></div>
                    <% else %>
                    <div class="pg-card-img-wrap"><img src="<%= @pexels_array[0] %>" class="pg-card-img"></div>
                    <% end %>
                  <div class="pg-card-content">
                    <div class="date"><span><i class="fa-solid fa-calendar-days"></i> <%= link_to "#{past_gig.gig.date.strftime("%e %b %Y %H:%M")}", user_gig_path(past_gig) %></span></div>
                    <div class="artist"><span><i class="fa-solid fa-music"></i> <%= link_to "#{past_gig.gig.artist}", user_gig_path(past_gig) %></span></div>
                    <div class="vanue"><span><i class="fa-solid fa-location-dot"></i> <%= link_to "#{past_gig.gig.venue}", user_gig_path(past_gig) %></span></div>
                    <div class="genre"><span><i class="fa-solid fa-guitar"></i> <%= link_to "#{past_gig.gig.genre.titleize}", user_gig_path(past_gig) %></span></div>
                  </div>
                </div>

            </div>
          <% end %>
        </div>
      </div>

      <div class="vl"></div>

      <div class="upcoming-gigs-container">
          <h2 class="ug">Your upcoming gigs</h2>
        <div class="upcoming-gigs row">
          <% @upcoming_gigs.each do |upcoming_gig| %>
            <div class="all-upcoming-gigs col">

                <div class="upcoming-gigs-card">
                  <% if upcoming_gig.gig.wiki_photo_url != nil %>
                    <div class="pg-card-img-wrap"><img src="<%= upcoming_gig.gig.wiki_photo_url %>" class="pg-card-img"></div>
                    <% else %>
                    <div class="pg-card-img-wrap"><img src="<%= @pexels_array[0] %>" class="pg-card-img"></div>
                    <% end %>
                  <div class="pg-card-content">
                    <div class="date"><span><i class="fa-solid fa-calendar-days"></i> <%= link_to "#{upcoming_gig.gig.date.strftime("%e %b %Y %H:%M")}", user_gig_path(upcoming_gig) %></span></div>
                    <div class="artist"><span><i class="fa-solid fa-music"></i> <%= link_to "#{upcoming_gig.gig.artist.titleize}",  user_gig_path(upcoming_gig) %></span></div>
                    <div class="vanue"><span><i class="fa-solid fa-location-dot"></i> <%= link_to "#{upcoming_gig.gig.venue.titleize}", user_gig_path(upcoming_gig) %></span></div>
                    <div class="genre"><span><i class="fa-solid fa-guitar"></i> <%= link_to "#{upcoming_gig.gig.genre.titleize}", user_gig_path(upcoming_gig) %></span></div>
                  </div>
                </div>

            </div>
          <% end %>
        </div>
      </div>

    <!--
    <div class="pt-2">
      <%= link_to(dashboard_new_path, class: "primary-button") do %>
      Add a new gig!
      <% end %>
    </div>
    -->

  </div>
</div>
