<div class="container">
  <div class="user-gig-page">
    <div class="gigs-buttons">
      <h2 class="pg"><%= link_to "Past Gigs", past_gigs_user_gigs_path, class: "link-pg-btn" %></h2>
            <div class="vl-s"></div>
      <h2 class="ug"><%= link_to "Upcoming Gigs", upcoming_gigs_user_gigs_path, class: "link-ug-btn" %></h2>
            <div class="vl-s"></div>
      <h2 class="gg"><%= link_to "Find a Gig", gigs_path, class: "link-gg-btn" %></h2>
    </div>

    <%# Memories %>
    <div class="user-gig-page-main">
      <div class="user-gig-page-main-left">
        <div class="user-gig-page-main-left-about">
          <div class="artist-headline d-flex justify-content-between", style="width: 124%;">
            <h2><%= @user_gig.gig.artist %><span> @ </span> <%= @user_gig.gig.venue %> </h2>
            <%= link_to "Add a memory", new_user_gig_comment_path(@user_gig), class: "primary-button" %>
          </div>
          <p> <%= @user_gig.gig.date.strftime("%e %b %Y") %> </p>
            <div class="user-gig-page-main-left-user-info">
              <div class="artist-photo">
                <% if @user_gig.gig.wiki_photo_url != nil %>
                  <img src="<%= (@user_gig.gig.wiki_photo_url) %>">
                  <% elsif @user_gig.gig.photo_url_four != nil %>
                  <img src="<%= (@user_gig.gig.photo_url_four) %>">
                  <% elsif @user_gig.gig.photo_url_five != nil %>
                  <img src="<%= (@user_gig.gig.photo_url_five) %>">
                  <% end %>
              </div>

                <div class="mt-2">
                  <% @user_gig.comments.each do |comment| %>
                    <div class="mb-2">
                      <% if comment.rating != nil %>
                        <% comment.rating.times do %>
                          <i class="fas fa-star star-yellow"></i></span>
                        <% end %>
                      <% end %>
                    </div>
                    <div>
                      <p><%= comment.content %></p>
                      <%# <%= link_to "Delete", user_gig_comment_path(@user_gig, comment), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
                    </div>
                  <% end %>
                </div>
              </div>
        </div>
      </div>



      <%# Music %>
      <div class="user-gig-page-main-right">
        <div class="user-gig-page-main-right-spotify">
          <div class="player-headline d-flex justify-content-center">
            <h2> Listen now </h2> <%= image_tag "logo.png", id:"player-logo"%>
          </div>
          <div class="player-card">
            <div class="player-container">
              <ul>
                <div><p> <i class="fa-solid fa-circle"></i> <%= @user_gig.gig.song_one %> <audio id="player" controls> <source src="<%= @user_gig.gig.song_one_audio%>" type="audio/mpeg"> </audio></p></div>
                <div><p> <i class="fa-solid fa-circle"></i> <%=@user_gig.gig.song_two %> <audio id="player" controls> <source src="<%=  @user_gig.gig.song_two_audio%>" type="audio/mpeg"> </audio></p></div>
                <div><p> <i class="fa-solid fa-circle"></i> <%= @user_gig.gig.song_three %> <audio id="player" controls> <source src="<%=  @user_gig.gig.song_three_audio%>" type="audio/mpeg"> </audio></p></div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%# Memories album %>
  <div class="album-container">
    <div class="album">
      <% @user_gig.comments.each do |comment| %>
        <% if comment.files.attached? %>
          <% comment.files.each do |file| %>
            <% if file.image? %>
              <%= cl_image_tag file.key, height: 300, width: 400, crop: :fill %>
            <% else file.video? %>
              <%= cl_video_tag(url_for(file.key),  height: "300", width: "400", controls: "")%>
            <% end %>
            <div class="remove-button-position d-flex">
              <%= form_tag destroy_attachment_user_gig_comment_path(@user_gig, comment, attachment_id: file.id ), method: :delete, data: {turbo_confirm: 'Are you sure?'}, class: "remove-button-custom" do %>
                <%= submit_tag 'Delete', class: "attachment-remove-btn text-decoration-none" %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="container d-flex justify-content-between mb-4">
    <%= link_to "Edit gig", edit_user_gig_path(@user_gig), class: "primary-button-inverse"%>
    <%= link_to "Remove", user_gig_path(@user_gig), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "warning-button"%>
  </div>
</div>
