<div class="container">
  <div class="user-gig-page">
    <div class="gigs-buttons">
      <h2 class="pg"><%= link_to "Past Gigs", past_gigs_user_gigs_path, class: "link-pg-btn" %></h2>
            <div class="vl-s"></div>
      <h2 class="ug"><%= link_to "Upcoming Gigs", upcoming_gigs_user_gigs_path, class: "link-ug-btn" %></h2>
            <div class="vl-s"></div>
      <h2 class="gg"><%= link_to "Find a Gig", gigs_path, class: "link-gg-btn" %></h2>
    </div>

    <%# Artist info %>
    <div class="user-gig-page-main">
      <div class="user-gig-page-main-left">
        <div class="user-gig-page-main-left-about">
          <div class="artist-headline d-flex justify-content-between", style="width: 124%;">
            <h2><%= @user_gig.gig.artist %><span> @ </span> <%= @user_gig.gig.venue %></h2>
          </div>
          <p> <%= @user_gig.gig.date.strftime("%e %b %Y") %> </p>
            <div class="artist-photo">
              <% if @user_gig.gig.wiki_photo_url != nil %>
                    <img src="<%= (@user_gig.gig.wiki_photo_url) %>">
                  <% elsif @user_gig.gig.photo_url_two != nil %>
                    <img src="<%= (@user_gig.gig.photo_url_two) %>">
                   <% elsif @user_gig.gig.photo_url_three != nil %>
                    <img src="<%= (@user_gig.gig.photo_url_three) %>">
                    <% elsif @user_gig.gig.photo_url_four != nil %>
                    <img src="<%= (@user_gig.gig.photo_url_four) %>">
                    <% elsif @user_gig.gig.photo_url_five != nil %>
                    <img src="<%= (@user_gig.gig.photo_url_five) %>">
               <% end %>
            </div>
            <div class="mt-2">
              <p> <strong> <span><%= @user_gig.gig.genre.capitalize %></span> </strong> - <%= @user_gig.gig.artist_info %> </p>
            <%# <div class="user-gig-page-main-left-map"> %>
            <%# MAP</div> %>
            </div>
        </div>
      </div>

      <%# Music player %>
      <div class="user-gig-page-main-right">
        <div class="user-gig-page-main-right-spotify">
          <div class="player-headline d-flex justify-content-center">
            <h2> Listen now </h2> <%= image_tag "logo.png", id:"player-logo"%>
          </div>
          <div class="player-card">
            <div class="player-container">
              <ul>
               <div><p> <i class="fa-solid fa-circle"></i> <%= @user_gig.gig.song_one %> <audio id="player" controls> <source src="<%= @user_gig.gig.song_one_audio%>" type="audio/mpeg"> </audio></p></div>
                <div><p> <i class="fa-solid fa-circle"></i> <%=@user_gig.gig.song_two %> <audio id="player" controls> <source src="<%=  @user_gig.gig.song_two_audio%>" type="audio/mpeg"> </audio></p></div>
                <div><p> <i class="fa-solid fa-circle"></i> <%= @user_gig.gig.song_three %> <audio id="player" controls> <source src="<%=  @user_gig.gig.song_three_audio%>" type="audio/mpeg"> </audio></p></div>
              </ul>
            </div>
          </div>
        </div>

            <%# <div class="user-gig-page-main-right-carousel">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <% if @user_gig.gig.wiki_photo_url != nil %>
                                <%# <img src="<%= (@user_gig.gig.wiki_photo_url) %>
                                <%# " class="show-carousel-img" alt="..."> %>
                                <%# <% else %>
                                  <%# <img src="<%= (@pexels_array_c[0]) %>
                                  <%# "class="show-carousel-img" alt="..."> %>
                                <%# <% end %>
                              <%# </div> %>
                              <%# <div class="carousel-item"> %>
                                <%# <img src="<%= (@spotify_image) %>
                                <%# " class="show-carousel-img" alt="..."> %>
                              <%# </div> %>
                              <%# <div class="carousel-item"> %>
                                <%# <img src="<%= (@spotify_image_b) %>
                                <%# " class="show-carousel-img" alt="..."> %>
                              <%# </div> %>
                            <%# </div> %>
                          <%# <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev"> %>
                            <%# <span class="carousel-control-prev-icon" aria-hidden="true"></span> %>
                            <%# <span class="visually-hidden">Previous</span> %>
                          <%# </button> %>
                          <%# <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next"> %>
                            <%# <span class="carousel-control-next-icon" aria-hidden="true"></span> %>
                            <%# <span class="visually-hidden">Next</span> %>
                          <%# </button> %>
                    <%# </div> %>
            <%# </div> %>
            <%# </div> %>
      </div>
      <%# Photos %>




      <%# <div class="container d-flex justify-content-between">
        <div class="user-gig-page-main-left-carousel">
          <div id="carouselExampleControlsb" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="" class="show-carousel-left-img" alt="...">
              </div>
              <div class="carousel-item">
                <img src="" class="show-carousel-left-img" alt="...">
              </div>
              <div class="carousel-item">
                <img src="" class="show-carousel-left-img" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsb" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsb" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

        <div class="user-gig-page-main-left-carousel">
          <div id="carouselExampleControlsb" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="" class="show-carousel-left-img" alt="...">
              </div>
              <div class="carousel-item">
                <img src="" class="show-carousel-left-img" alt="...">
              </div>
              <div class="carousel-item">
                <img src="" class="show-carousel-left-img" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsb" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsb" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

        <div class="user-gig-page-main-left-carousel">
          <div id="carouselExampleControlsb" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="" class="show-carousel-left-img" alt="...">
              </div>
              <div class="carousel-item">
                <img src="" class="show-carousel-left-img" alt="...">
              </div>
              <div class="carousel-item">
                <img src="" class="show-carousel-left-img" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsb" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsb" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div> %>

  <%# Other gigs suggestions %>
  <div class="user-gig-page-suggested-title justify-content-center">
    <h4> Suggested <span><%= @user_gig.gig.genre %></span> gigs </h4>
  </div>
    <div class="user-gig-page-suggested">
    <% unless @other_gigs.length == 1 || @other_gigs.length == 0 %>
      <% @similar_gigs.each do |gig| %>
      <div class="user-gig-suggested-a">
                <% if gig.wiki_photo_url != nil %>
              <img src="<%= gig.wiki_photo_url %>" class="user-gig-suggested-image" alt="...">
                <% elsif gig.photo_url_two != nil %>
                <img src="<%=gig.photo_url_two %>" class="user-gig-suggested-image" alt="...">
                <% elsif gig.photo_url_three != nil %>
                <img src="<%= gig.photo_url_three %>" class="user-gig-suggested-image" alt="...">
                <% elsif gig.photo_url_four != nil %>
                <img src="<%= gig.photo_url_four %>" class="user-gig-suggested-image" alt="...">
                <% elsif gig.photo_url_five != nil %>
                <img src="<%= gig.photo_url_five %>" class="user-gig-suggested-image" alt="...">
                <% end %>
                    <h4>  <%= link_to "#{gig.artist }",  gig_path(gig) %> </h4>
              <h6><%= link_to "#{gig.venue  }", gig_path(gig) %> </h6>
              <h6> <%= link_to "#{gig.date.strftime("%e %b %Y")  }", gig_path(gig) %> </h6>
              <h6> <%= link_to "#{gig.genre }", gig_path(gig) %> </h6>
      </div>
      <% end %>
    <% end %>
  </div>
  <div class="container d-flex justify-content-between mb-4">
    <%= link_to "Edit gig", edit_user_gig_path(@user_gig), class: "primary-button-inverse"%>
    <%= link_to "Remove", user_gig_path(@user_gig), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "warning-button"%>
  </div>
</div>
