<div class="container">
  <div class="past-user-gig-page">
    <div class="gigs-buttons">
      <h2 class="pg"><%= link_to "Past Gigs", past_gigs_user_gigs_path, class: "link-pg-btn" %></h2>
            <div class="vl-s"></div>
      <h2 class="ug"><%= link_to "Upcoming Gigs", upcoming_gigs_user_gigs_path, class: "link-ug-btn" %></h2>
            <div class="vl-s"></div>
      <h2 class="gg"><%= link_to "Find a Gig", gigs_path, class: "link-gg-btn" %></h2>
    </div>

    <%# Memories %>
    <div class="past-user-gig-page-main">
      <div class="past-user-gig-page-main-left">
        <div class="past-user-gig-page-main-left-about">
          <div class="past-artist-headline d-flex justify-content-between", style="width: 124%;">
            <h2><%= @user_gig.gig.artist %><span> @ </span> <%= @user_gig.gig.venue %> </h2>
            <%= link_to "Add a memory", new_user_gig_comment_path(@user_gig), data: {turbo_frame: "modal"}, class: "primary-button" %>
          </div>

           <p><span><%= @user_gig.gig.genre.capitalize %></span> <%= @user_gig.gig.date.strftime("%e %b %Y") unless @user_gig.gig.date == nil %></p>
            <div class="">
              <div class="past-artist-photo">
                <% if @user_gig.gig.wiki_photo_url != nil %>
                  <img src="<%= (@user_gig.gig.wiki_photo_url) %>">
                  <% elsif @user_gig.gig.photo_url_four != nil %>
                  <img src="<%= (@user_gig.gig.photo_url_four) %>">
                  <% elsif @user_gig.gig.photo_url_five != nil %>
                  <img src="<%= (@user_gig.gig.photo_url_five) %>">
                  <% end %>
              </div>

                <div class="mt-2">
                  <% @user_gig.comments.each do |comment| %>
                    <div class="mb-2">
                      <% if comment.rating != nil %>
                        <% comment.rating.times do %>
                          <i class="fas fa-star star-yellow"></i></span>
                        <% end %>
                      <% end %>
                    </div>
                    <div>
                      <p><%= comment.content %></p>
                      <%# <%= link_to "Delete", user_gig_comment_path(@user_gig, comment), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
                    </div>
                  <% end %>
                </div>
              </div>
        </div>
      </div>



      <%# Music %>
      <div class="past-user-gig-page-main-right">
        <div class="past-user-gig-page-main-right-spotify">
          <div class="past-player-headline d-flex justify-content-center">
            <h2> Listen now </h2> <%= image_tag "logo.png", id:"player-logo"%>
          </div>
          <div class="past-player-card">
            <div class="past-player-container">
              <ul>
              <% if @audio_one != nil %>
                <div><p> <i class="fa-solid fa-circle"></i> <%= @user_gig.gig.song_one %> <audio id="player" controls> <source src="<%= @audio_one %>" type="audio/mpeg"> </audio></p></div>
               <% end %>
               <% if @audio_two != nil %>
                <div><p> <i class="fa-solid fa-circle"></i> <%=@user_gig.gig.song_two %> <audio id="player" controls> <source src="<%=  @audio_two %>" type="audio/mpeg"> </audio></p></div>
                <% end %>
               <% if @audio_three != nil %>
                <div><p> <i class="fa-solid fa-circle"></i> <%= @user_gig.gig.song_three %> <audio id="player" controls> <source src="<%=  @audio_three %>" type="audio/mpeg"> </audio></p></div>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%# Memories album %>
  <h2 class="memories-title">Relive your memories</h2>
  <div class="album-container">
    <div class="row mt-4 mb-4 justify-content-center">
      <% @user_gig.comments.each do |comment| %>
        <% if comment.files.attached?%>
          <div class="col-md-4">
            <% comment.files.each do |file| %>
              <div class="album-cards">
                <% if file.image? %>
                  <%= cl_image_tag file.key, height: 300, width: 400, crop: :fill, class:"album-img" %>
                <% else file.video? %>
                  <%= cl_video_tag(url_for(file.key),  height: "300", width: "400", controls: "", class:"album-img") %>
                <% end %>
                <div class="album-card-body d-flex flex-column gap-1">
                  <%= form_tag destroy_attachment_user_gig_comment_path(@user_gig, comment, attachment_id: file.id ), method: :delete, data: {turbo_confirm: 'Are you sure?'}, class:"d-flex justify-content-end" do %>
                    <%= button_tag(type: "submit", class: "btn btn-default") do %>
                      <i class="fa-solid fa-trash-can fa-lg"></i>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="container d-flex justify-content-between mb-4">
    <%= link_to "Edit gig", edit_user_gig_path(@user_gig), data: {turbo_frame: "modal"}, class: "primary-button-inverse"%>
    <%= link_to "Remove", user_gig_path(@user_gig), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "warning-button"%>
  </div>
</div>
