<div class="container">
  <h1>Edit your gig</h1>
  <%= simple_form_for (@user_gig) do |f|%>
    <div class="form-inputs">
      <%= f.simple_fields_for :gig do |g|%>
        <%= g.input :name %>
        <%= g.input :artist %>
        <%= g.input :venue %>
        <%= g.input :genre %>
        <%= g.input :date %>
      <% end %>
      <%= f.input :comment %>
    </div>

    <div class="form-actions">
      <div class="form-actions-buttons">
        <%= f.button :submit %>
      </div>
    </div>
  <% end %>
</div>
