<div class="gigs-container">
  <div class="past-gigs">
    <h2 class="ug">Past Gigs</h2>
    <% @user_gigs.each do |user_gig| %>
      <div class="all-past-gigs">
        <% if user_gig.user_id == current_user.id && user_gig.gig.date < Date.current %>
          <div class="past-gigs-card">
            <% if user_gig.gig.wiki_photo_url != nil %>
              <div class="pg-card-img"><img src="<%= user_gig.gig.wiki_photo_url %>" style="width:140px;height:116px"></div>
            <% else %>
              <div class="pg-card-img"><img src="<%= pexels_array[0] %>" style="width:140px;height:116px"></div>
            <% end %>
            <div class="pg-card-content">
              <div class="date"><span><i class="fa-solid fa-calendar-days"></i> <%= link_to "#{user_gig.gig.date.strftime("%e %b %Y %H:%M")}", gig_path(user_gig.gig) %></span></div>
              <div class="artist"><span><i class="fa-solid fa-music"></i> <%= link_to "#{user_gig.gig.artist.titleize}",  gig_path(user_gig.gig) %></span></div>
              <div class="vanue"><span><i class="fa-solid fa-location-dot"></i> <%= link_to "#{user_gig.gig.venue.titleize}", gig_path(user_gig.gig) %></span></div>
              <div class="genre"><span><i class="fa-solid fa-guitar"></i> <%= link_to "#{user_gig.gig.genre.titleize}", gig_path(user_gig.gig) %></span></div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
