<% if @user_gigs.select { |user_gig| user_gig.gig.date < DateTime.current }.empty? %>
  <div class="message">
    <h2 class="msg pb-5">Did your melody run out of notes?</h2>
    <%= link_to "Create gig", new_gig_path(origin: action_name), data: {turbo_frame: "modal"}, class: "primary-button-inverse-medium" %>
  </div>
<% else %>
  <div class="d-flex create-container-upcoming">
    <p id="create-gig">Couldn't find a gig?</p>
    <%= link_to "Create Gig", new_gig_path(origin: action_name), data: {turbo_frame: "modal"}, class: "primary-button-inverse-small" %>
  </div>

  <div class="gigs-container-pg">
    <%# <div class="past-gigs-container" data-controller="checkbox"> %>
      <div class="text-btn">
        <h2 class="pg">Your past gigs</h2>
      </div>

      <!--
      <div class="toggle-box">
        <input type="checkbox" data-checkbox-target="parent" data-action="change->checkbox#toggleChildren">
        <label class="toggle"></label>
      </div>
      -->
      <div style="width: 100%;">
        <%= form_with url: past_gigs_user_gigs_path, html: { class: "form-container" }, method: :get do |f| %>
          <%= f.select :artist, Gig.where("date < '#{DateTime.current}' AND user_id = '#{current_user.id}'").pluck(:artist).uniq, { prompt: 'Artist', selected: nil }, class: "form_artist" %>
          <%= f.select :venue, Gig.where("date < '#{DateTime.current}' AND user_id = '#{current_user.id}'").pluck(:venue).uniq, { prompt: 'Venue', selected: nil }, class: "form_venue" %>
          <%= f.select :genre, Gig.where("date < '#{DateTime.current}' AND user_id = '#{current_user.id}'").pluck(:genre).uniq, { prompt: 'Genre', selected: nil }, class: "form_genre" %>
          <%= f.button :submit do %>
            <i class="fa-solid fa-filter"></i>
          <% end %>
        <% end %>
      </div>
      <div class="all-past-gigs">
        <%# <div class="past-gigs"> %>
          <% @user_gigs.each do |user_gig| %>
            <% if user_gig.user_id == current_user.id && user_gig.gig.date != nil && user_gig.gig.date < DateTime.current %>
              <div class="past-gigs-card-pg">
                <%= link_to user_gig_path(user_gig) do %>
                  <% if user_gig.gig.photo.attached? %>
                    <div class="pg-card-img-wrap"><%= cl_image_tag user_gig.gig.photo.key, class: "pg-card-img"%></div>
                  <% else %>
                    <% if user_gig.gig.wiki_photo_url != nil %>
                      <div class="pg-card-img-wrap"><img src="<%= user_gig.gig.wiki_photo_url %>" class="pg-card-img"></div>
                        <% elsif user_gig.gig.photo_url_four != nil %>
                      <div class="pg-card-img-wrap"><img src="<%= user_gig.gig.photo_url_four%>" class="pg-card-img"></div>
                        <% elsif user_gig.gig.photo_url_five != nil %>
                      <div class="pg-card-img-wrap"><img src="<%= user_gig.gig.photo_url_five %>" class="pg-card-img"></div>
                    <% end %>
                  <% end %>
                    <div class="pg-card-content">
                      <div class="artist"><span><i class="fa-solid fa-music"></i> <%= link_to "#{user_gig.gig.artist.titleize}",  user_gig_path(user_gig) %></span></div>
                      <div class="vanue"><span><i class="fa-solid fa-location-dot"></i> <%= link_to "#{user_gig.gig.venue.titleize[0..22]}", user_gig_path(user_gig) %></span></div>
                      <div class="date"><span><i class="fa-solid fa-calendar-days"></i> <%= link_to "#{user_gig.gig.date.strftime("%e %b %Y")}", user_gig_path(user_gig) %></span></div>
                      <div class="past-cancel">
                        <%= link_to "Remove", user_gig_path(user_gig), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "past-cancel-btn" %>
                      </div>
                    </div>

                    <!--
                    <div class="toggle-box">
                      <input data-id="<%= user_gig.id %>" <%= user_gig.attended ? "checked" : "" %> type="checkbox" data-checkbox-target="child" data-action="change->checkbox#toggleParent">
                      <label class="toggle"></label>
                    </div>
                    -->
                <% end %>
              </div>
            <% end %>
          <% end %>
        <%# </div> %>
      </div>
    <%# </div> %>
  </div>
<% end %>
