<div class="container">
  <div class="user-gig-page">
  <div class="gigs-buttons">
    <h2 class="pg"><%= link_to "Past Gigs", past_gigs_user_gigs_path, class: "link-pg-btn" %></h2>
          <div class="vl-s"></div>
    <h2 class="ug"><%= link_to "Upcoming Gigs", upcoming_gigs_user_gigs_path, class: "link-ug-btn" %></h2>
          <div class="vl-s"></div>
    <h2 class="gg"><%= link_to "Find a Gig", gigs_path, class: "link-gg-btn" %></h2>
  </div>

    <%# Comments %>
    <div class="user-gig-page-main">
      <div class="user-gig-page-main-left">
        <div class="user-gig-page-main-left-about">
          <% if @user_gig.gig.date > Date.current %>
            <div class="artist-headline d-flex justify-content-between", style="width: 124%;">
              <h2><%= @user_gig.gig.artist %><span> @ </span> <%= @user_gig.gig.venue %></h2>
            </div>
            <p> <%= @user_gig.gig.date.strftime("%e %b %Y") %> </p>
            <p> <strong> <span><%= @user_gig.gig.genre.capitalize %></span> </strong> - <%= @artist_sum %> </p>
            <%# <div class="user-gig-page-main-left-map"> %>
              <%# MAP</div> %>
          <% else %>
            <div class="artist-headline d-flex justify-content-between", style="width: 124%;">
              <h2><%= @user_gig.gig.artist %><span> @ </span> <%= @user_gig.gig.venue %> </h2>
              <%= link_to "Add a memory", new_user_gig_comment_path(@user_gig), class: "primary-button" %>
            </div>
            <p> <%= @user_gig.gig.date.strftime("%e %b %Y") %> </p>
              <div class="user-gig-page-main-left-user-info">
                <% @user_gig.comments.each do |comment| %>
                  <div class="mb-2">
                    <% if comment.rating != nil %>
                      <% comment.rating.times do %>
                        <i class="fas fa-star star-yellow"></i></span>
                      <% end %>
                    <% end %>
                  </div>
                  <p><%= comment.content %></p>
                <% end %>
              </div>
          <% end %>
        </div>
      </div>

      <%# Music %>
      <div class="user-gig-page-main-right">
        <div class="user-gig-page-main-right-spotify">
          <div class="player-headline d-flex justify-content-center">
            <h2> Listen now </h2> <%= image_tag "logo.png", id:"player-logo"%>
              <%# <%= @user_gig.gig.artist %>
          </div>
          <div class="player-card">
            <div class="container justify-content-center" style="width: 72%;">
              <ul>
                <div><p> <i class="fa-solid fa-circle"></i> <%= @spotify_top_songs[0].name %> <audio controls> <source class="audio-player", src="<%= @audio_array[0]%>" type="audio/mpeg"> </audio></p></div>
                <div><p> <i class="fa-solid fa-circle"></i> <%= @spotify_top_songs[1].name %> <audio controls> <source src="<%= @audio_array[1]%>" type="audio/mpeg"> </audio></p></div>
                <div><p> <i class="fa-solid fa-circle"></i> <%= @spotify_top_songs[2].name %> <audio controls> <source src="<%= @audio_array[2]%>" type="audio/mpeg"> </audio></p></div>
                <%# <li class="list-group-item"><%= @spotify_top_songs[3].name %>
                <%# <audio controls> <source src="<%= @audio_array[3]%>
                <%# " type="audio/mpeg"> </audio></li> %>
                <%# <li class="list-group-item"><%= @spotify_top_songs[4].name %>
                <%# <audio controls> <source src="<%= @audio_array[4]%>
                <%# " type="audio/mpeg"> </audio></li> %>
              </ul>
            </div>
          </div>
        </div>

            <%# <div class="user-gig-page-main-right-carousel">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <% if @user_gig.gig.wiki_photo_url != nil %>
                                <%# <img src="<%= (@user_gig.gig.wiki_photo_url) %>
                                <%# " class="show-carousel-img" alt="..."> %>
                                <%# <% else %>
                                  <%# <img src="<%= (@pexels_array_c[0]) %>
                                  <%# "class="show-carousel-img" alt="..."> %>
                                <%# <% end %>
                              <%# </div> %>
                              <%# <div class="carousel-item"> %>
                                <%# <img src="<%= (@spotify_image) %>
                                <%# " class="show-carousel-img" alt="..."> %>
                              <%# </div> %>
                              <%# <div class="carousel-item"> %>
                                <%# <img src="<%= (@spotify_image_b) %>
                                <%# " class="show-carousel-img" alt="..."> %>
                              <%# </div> %>
                            <%# </div> %>
                          <%# <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev"> %>
                            <%# <span class="carousel-control-prev-icon" aria-hidden="true"></span> %>
                            <%# <span class="visually-hidden">Previous</span> %>
                          <%# </button> %>
                          <%# <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next"> %>
                            <%# <span class="carousel-control-next-icon" aria-hidden="true"></span> %>
                            <%# <span class="visually-hidden">Next</span> %>
                          <%# </button> %>
                    <%# </div> %>
            <%# </div> %>
            <%# </div> %>
      </div>
      <%# Photos %>
      <div class="container d-flex justify-content-between">
        <div class="user-gig-page-main-left-carousel">
          <div id="carouselExampleControlsb" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="" class="show-carousel-left-img" alt="...">
              </div>
              <div class="carousel-item">
                <img src="" class="show-carousel-left-img" alt="...">
              </div>
              <div class="carousel-item">
                <img src="" class="show-carousel-left-img" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsb" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsb" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

        <div class="user-gig-page-main-left-carousel">
          <div id="carouselExampleControlsb" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="" class="show-carousel-left-img" alt="...">
              </div>
              <div class="carousel-item">
                <img src="" class="show-carousel-left-img" alt="...">
              </div>
              <div class="carousel-item">
                <img src="" class="show-carousel-left-img" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsb" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsb" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

        <div class="user-gig-page-main-left-carousel">
          <div id="carouselExampleControlsb" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="" class="show-carousel-left-img" alt="...">
              </div>
              <div class="carousel-item">
                <img src="" class="show-carousel-left-img" alt="...">
              </div>
              <div class="carousel-item">
                <img src="" class="show-carousel-left-img" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsb" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsb" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%# Other gigs suggestions %>
  <% if @user_gig.gig.date > Date.current %>
    <div class="user-gig-page-suggested">
      <div class="user-gig-page-suggested-title justify-content-center">
        <h4> Suggested <span><%= @user_gig.gig.genre %></span> gigs </h4> </div>
      </div>
      <div class="user-gig-suggested-a">
          <% if @other_gigs.length > 0 %>
                <% if @genre_image_a != nil %>
              <img src="<%= (@genre_image_a)%>" class="user-gig-suggested-image" alt="...">
                <% else %>
                <img src="" class="user-gig-suggested-image" alt="...">
                <% end %>
                <% end %>
                      <% if @other_gigs.length > 0 %>
                  <% if @user_gigs.find { |item| item.gig_id == @other_gigs[0].id } != nil %>
                      <% user_gig = @user_gigs.find { |item| item.gig_id == @other_gigs[0].id} %>
              <h4>  <%= link_to "#{@other_gigs[0].artist }", user_gig_path(user_gig) %> </h4>
              <h6><%= link_to "#{@other_gigs[0].venue  }", user_gig_path(user_gig) %> </h6>
              <h6> <%= link_to "#{@other_gigs[0].date.strftime("%e %b %Y")  }", user_gig_path(user_gig) %> </h6>
              <h6> <%= link_to "#{@other_gigs[0].genre }", user_gig_path(user_gig) %> </h6>
                  <% else%>
                    <h4>  <%= link_to "#{@other_gigs[0].artist }",  gig_path(@other_gigs[0].id) %> </h4>
              <h6><%= link_to "#{@other_gigs[0].venue  }", gig_path(@other_gigs[0].id) %> </h6>
              <h6> <%= link_to "#{@other_gigs[0].date.strftime("%e %b %Y")  }", gig_path(@other_gigs[0].id) %> </h6>
              <h6> <%= link_to "#{@other_gigs[0].genre }", gig_path(@other_gigs[0].id) %> </h6>
              <% end %>
              <% end %>
      </div>

      <div class="user-gig-suggested-b">
              <% if @other_gigs.length > 1 %>
                <% if @genre_image_b != nil %>
              <img src="<%= (@genre_image_b)%>" class="user-gig-suggested-image" alt="...">
                <% else %>
                <img src="" class="user-gig-suggested-image" alt="...">
                <% end %>
              <% end %>
                      <% if @other_gigs.length > 1 %>
                <% if @user_gigs.find { |item| item.gig_id == @other_gigs[1].id } != nil %>
                      <% user_gig = @user_gigs.find { |item| item.gig_id == @other_gigs[1].id} %>
              <h4>  <%= link_to "#{@other_gigs[1].artist }", user_gig_path(user_gig) %> </h4>
              <h6><%= link_to "#{@other_gigs[1].venue  }", user_gig_path(user_gig) %> </h6>
              <h6> <%= link_to "#{@other_gigs[1].date.strftime("%e %b %Y")  }", user_gig_path(user_gig) %> </h6>
              <h6> <%= link_to "#{@other_gigs[1].genre }", user_gig_path(user_gig) %> </h6>
                  <% else%>
                    <h4>  <%= link_to "#{@other_gigs[1].artist }",  gig_path(@other_gigs[1].id) %> </h4>
              <h6><%= link_to "#{@other_gigs[1].venue  }", gig_path(@other_gigs[1].id) %> </h6>
              <h6> <%= link_to "#{@other_gigs[1].date.strftime("%e %b %Y")  }", gig_path(@other_gigs[1].id) %> </h6>
              <h6> <%= link_to "#{@other_gigs[1].genre }", gig_path(@other_gigs[1].id) %> </h6>
              <% end %>
            <% end %>
      </div>

      <div class="user-gig-suggested-c">
        <% if @other_gigs.length > 2 %>
                <% if @genre_image_c != nil %>
              <img src="<%= (@genre_image_c)%>" class="user-gig-suggested-image" alt="...">
                <% else %>
                <img src="" class="user-gig-suggested-image" alt="...">
                <% end %>
              <% end %>
                      <% if @other_gigs.length > 2 %>
                      <% if @user_gigs.find { |item| item.gig_id == @other_gigs[2].id } != nil %>
                      <% user_gig = @user_gigs.find { |item| item.gig_id == @other_gigs[2].id } %>
              <h4>  <%= link_to "#{@other_gigs[2].artist }", user_gig_path(user_gig) %> </h4>
              <h6><%= link_to "#{@other_gigs[2].venue  }", user_gig_path(user_gig) %> </h6>
              <h6> <%= link_to "#{@other_gigs[2].date.strftime("%e %b %Y")  }", user_gig_path(user_gig) %> </h6>
              <h6> <%= link_to "#{@other_gigs[2].genre }", user_gig_path(user_gig) %> </h6>
                  <% else%>
                    <h4>  <%= link_to "#{@other_gigs[2].artist }",  gig_path(@other_gigs[2].id) %> </h4>
              <h6><%= link_to "#{@other_gigs[2].venue  }", gig_path(@other_gigs[2].id) %> </h6>
              <h6> <%= link_to "#{@other_gigs[2].date.strftime("%e %b %Y")  }", gig_path(@other_gigs[2].id) %> </h6>
              <h6> <%= link_to "#{@other_gigs[2].genre }", gig_path(@other_gigs[2].id) %> </h6>
              <% end %>
              <% end %>
      </div>
    </div>
  <% end %>

  <div class="container d-flex justify-content-between mb-4">
    <%= link_to "Edit gig", edit_user_gig_path(@user_gig), class: "primary-button-inverse"%>
    <%= link_to "Remove", user_gig_path(@user_gig), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "warning-button"%>
  </div>
</div>
