 <%# Other artists %>
 <div class="user-gig-page-suggested-title"> <p> Other <%= @user_gig.gig.genre%> gigs you might like </p> </div>

        <div class="user-gig-page-suggested">
          <div class="user-gig-suggested-a">
              <% if @other_gigs.length > 0 %>
                    <% if @genre_image_a != nil %>
                  <img src="<%= (@genre_image_a)%>" class="user-gig-suggested-image" alt="...">
                    <% else %>
                    <img src="<%= (@pexels_array_c[0]) %>" class="user-gig-suggested-image" alt="...">
                    <% end %>
                    <% end %>
                          <% if @other_gigs.length > 0 %>
                      <% if @user_gigs.find { |item| item.gig_id == @other_gigs[0].id } != nil %>
                          <% user_gig = @user_gigs.find { |item| item.gig_id == @other_gigs[0].id} %>
                  <h4>  <%= link_to "#{@other_gigs[0].artist }", user_gig_path(user_gig) %> </h4>
                  <h6><%= link_to "#{@other_gigs[0].venue  }", user_gig_path(user_gig) %> </h6>
                  <h6> <%= link_to "#{@other_gigs[0].date.strftime("%e %b %Y")  }", user_gig_path(user_gig) %> </h6>
                  <h6> <%= link_to "#{@other_gigs[0].genre }", user_gig_path(user_gig) %> </h6>
                      <% else%>
                        <h4>  <%= link_to "#{@other_gigs[0].artist }",  gig_path(@other_gigs[0].id) %> </h4>
                  <h6><%= link_to "#{@other_gigs[0].venue  }", gig_path(@other_gigs[0].id) %> </h6>
                  <h6> <%= link_to "#{@other_gigs[0].date.strftime("%e %b %Y")  }", gig_path(@other_gigs[0].id) %> </h6>
                  <h6> <%= link_to "#{@other_gigs[0].genre }", gig_path(@other_gigs[0].id) %> </h6>
                  <% end %>
                  <% end %>
          </div>
          <div class="user-gig-suggested-b">
                  <% if @other_gigs.length > 1 %>
                    <% if @genre_image_b != nil %>
                  <img src="<%= (@genre_image_b)%>" class="user-gig-suggested-image" alt="...">
                    <% else %>
                    <img src="<%= (@pexels_array_e[0]) %>" class="user-gig-suggested-image" alt="...">
                    <% end %>
                  <% end %>
                          <% if @other_gigs.length > 1 %>
                    <% if @user_gigs.find { |item| item.gig_id == @other_gigs[1].id } != nil %>
                          <% user_gig = @user_gigs.find { |item| item.gig_id == @other_gigs[1].id} %>
                  <h4>  <%= link_to "#{@other_gigs[1].artist }", user_gig_path(user_gig) %> </h4>
                  <h6><%= link_to "#{@other_gigs[1].venue  }", user_gig_path(user_gig) %> </h6>
                  <h6> <%= link_to "#{@other_gigs[1].date.strftime("%e %b %Y")  }", user_gig_path(user_gig) %> </h6>
                  <h6> <%= link_to "#{@other_gigs[1].genre }", user_gig_path(user_gig) %> </h6>
                      <% else%>
                        <h4>  <%= link_to "#{@other_gigs[1].artist }",  gig_path(@other_gigs[1].id) %> </h4>
                  <h6><%= link_to "#{@other_gigs[1].venue  }", gig_path(@other_gigs[1].id) %> </h6>
                  <h6> <%= link_to "#{@other_gigs[1].date.strftime("%e %b %Y")  }", gig_path(@other_gigs[1].id) %> </h6>
                  <h6> <%= link_to "#{@other_gigs[1].genre }", gig_path(@other_gigs[1].id) %> </h6>
                  <% end %>
                <% end %>
          </div>
          <div class="user-gig-suggested-c">
            <% if @other_gigs.length > 2 %>
                    <% if @genre_image_c != nil %>
                  <img src="<%= (@genre_image_c)%>" class="user-gig-suggested-image" alt="...">
                    <% else %>
                    <img src="<%= (@pexels_array_b[0]) %>" class="user-gig-suggested-image" alt="...">
                    <% end %>
                  <% end %>
                          <% if @other_gigs.length > 2 %>
                          <% if @user_gigs.find { |item| item.gig_id == @other_gigs[2].id } != nil %>
                          <% user_gig = @user_gigs.find { |item| item.gig_id == @other_gigs[2].id } %>
                  <h4>  <%= link_to "#{@other_gigs[2].artist }", user_gig_path(user_gig) %> </h4>
                  <h6><%= link_to "#{@other_gigs[2].venue  }", user_gig_path(user_gig) %> </h6>
                  <h6> <%= link_to "#{@other_gigs[2].date.strftime("%e %b %Y")  }", user_gig_path(user_gig) %> </h6>
                  <h6> <%= link_to "#{@other_gigs[2].genre }", user_gig_path(user_gig) %> </h6>
                      <% else%>
                        <h4>  <%= link_to "#{@other_gigs[2].artist }",  gig_path(@other_gigs[2].id) %> </h4>
                  <h6><%= link_to "#{@other_gigs[2].venue  }", gig_path(@other_gigs[2].id) %> </h6>
                  <h6> <%= link_to "#{@other_gigs[2].date.strftime("%e %b %Y")  }", gig_path(@other_gigs[2].id) %> </h6>
                  <h6> <%= link_to "#{@other_gigs[2].genre }", gig_path(@other_gigs[2].id) %> </h6>
                  <% end %>
                  <% end %>
          </div>
        </div>
      </div>
