<div class="gigs-buttons">
  <h2 class="pg"><%= link_to "Past Gigs", past_gigs_user_gigs_path, class: "link-pg-btn" %></h2>
        <div class="vl-s"></div>
  <h2 class="ug"><%= link_to "Dashboard", dashboard_path, class: "link-ug-btn" %></h2>
        <div class="vl-s"></div>
  <h2 class="gg"><%= link_to "Find a Gig", gigs_path, class: "link-gg-btn" %></h2>
</div>

<div class="up-gigs-container">
  <div class="upcoming-gigs-p">
    <h2 class="ug">Your upcoming gigs</h2>
    <% @user_gigs.each do |user_gig| %>
        <% if user_gig.user_id == current_user.id && user_gig.gig.date > Date.current %>
          <%= link_to user_gig_path(user_gig) do %>
            <div class="up-gigs-card">
              <% if user_gig.gig.wiki_photo_url != nil %>
                <div class="ug-card-img-wrap"><img src="<%= user_gig.gig.wiki_photo_url %>" class="ug-card-img"></div>
                <% elsif user_gig.gig.photo_url_two %>
                <div class="ug-card-img-wrap"><img src="<%= user_gig.gig.photo_url_two %>" class="ug-card-img"></div>
                   <% elsif user_gig.gig.photo_url_three %>
                <div class="ug-card-img-wrap"><img src="<%= user_gig.gig.photo_url_three %>" class="ug-card-img"></div>
                   <% elsif user_gig.gig.photo_url_four %>
                <div class="ug-card-img-wrap"><img src="<%= user_gig.gig.photo_url_four %>" class="ug-card-img"></div>
                   <% elsif user_gig.gig.photo_url_five %>
                <div class="ug-card-img-wrap"><img src="<%= user_gig.gig.photo_url_five%>" class="ug-card-img"></div>
                <% end %>
              <div class="ug-card-content">
                <p class="artist"><i class="fa-solid fa-music"></i> <%= link_to "#{user_gig.gig.artist.titleize}",  user_gig_path(user_gig) %></p>
                <p class="vanue"><i class="fa-solid fa-location-dot"></i> <%= link_to "#{user_gig.gig.venue.titleize}", user_gig_path(user_gig) %></p>
                <p class="date"><i class="fa-solid fa-calendar-days"></i> <%= link_to "#{user_gig.gig.date.strftime("%e %b %Y %H:%M")}", user_gig_path(user_gig) %></p>
              </div>

              <div class="cancel">
                <%= link_to "Cancel", user_gig_path(user_gig), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "cancel-btn" %>
              </div>
              <div class="edit">
                <% if user_gig.gig.user_id == current_user.id%>
                  <%= link_to "Edit", edit_user_gig_path(user_gig), class: "edit-btn" %>
                <% end %>
              </div>

            </div>
          <% end %>
        <% end %>
    <% end %>
  </div>
</div>
