<div class="user-gig-page">
  <div class="user-gig-page-main">
      <div class="user-gig-page-main-left">
        <div class="user-gig-page-main-left-about">
         <p> <%= @gig.artist %> @ <%= @gig.venue %></p>
         <p> <%= @gig.date.strftime("%e %b %Y") %> </p>
         <% if @gig.wiki_photo_url == nil %>
         <p> <strong> <%= @gig.genre %> </strong> </p>
          <% else %>
          <p> <strong> <%= @gig.genre %> </strong> - <%= @gig.artist_info %> </p>
          <% end %>
        </div>
        <div class="user-gig-page-main-left-map">
        <% if @gig.date < Date.current%>
          <p> This gig has already happened,<%= link_to "did you go?", gig_user_gigs_path(@gig), data: {turbo_method: :post}, class: "btn btn-primary" %> </p>
          <% else %>
           <p> <%= link_to "Are you going to this gig?", gig_user_gigs_path(@gig), data: {turbo_method: :post}, class: "btn btn-primary" %> </p>
          <% end %>
          <div id='map' style='width: 400px; height:300px;'></div>
       MAP
        </div>
      </div>

      <div class="user-gig-page-main-right">
        <div class="user-gig-page-main-right-spotify">
         <p>Listen to <%= @gig.artist%> </p>
          <p> <%= @gig.song_one %> <audio controls> <source src="<%= @gig.song_one_audio %>" type="audio/mpeg"> </audio> </p>
           <p> <%= @gig.song_two %>  <audio controls> <source src="<%= @gig.song_two_audio %>" type="audio/mpeg"> </audio></p>
           <p> <%= @gig.song_three %>  <audio controls> <source src="<%= @gig.song_three_audio %>" type="audio/mpeg"> </audio></p>
        </div>
           <div class="user-gig-page-main-right-carousel">
                   <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                              <% if @gig.wiki_photo_url != nil %>
                               <img src="<%= (@gig.wiki_photo_url) %>" class="show-carousel-img" alt="...">
                               <% elsif @gig.photo_url_two != nil %>
                                <img src="<%= (@gig.photo_url_two) %>" class="show-carousel-img" alt="...">
                                <% elsif @gig.photo_url_three != nil %>
                                <img src="<%= (@gig.photo_url_three) %>" class="show-carousel-img" alt="...">
                                <% elsif @gig.photo_url_four != nil %>
                                <img src="<%= (@gig.photo_url_four) %>" class="show-carousel-img" alt="...">
                                <% elsif @gig.photo_url_five != nil %>
                                <img src="<%= (@gig.photo_url_five) %>" class="show-carousel-img" alt="...">
                              <% end %>
                            </div>
                            <div class="carousel-item">
                                <% if @gig.photo_url_two != nil %>
                                <img src="<%= (@gig.photo_url_two) %>" class="show-carousel-img" alt="...">
                                <% elsif @gig.photo_url_three != nil %>
                                <img src="<%= (@gig.photo_url_three) %>" class="show-carousel-img" alt="...">
                                <% elsif @gig.photo_url_four != nil %>
                                <img src="<%= (@gig.photo_url_four) %>" class="show-carousel-img" alt="...">
                              <% end %>
                            </div>
                            <div class="carousel-item">
                                <% if @gig.photo_url_three != nil %>
                                <img src="<%= (@gig.photo_url_three) %>" class="show-carousel-img" alt="...">
                                <% elsif @gig.photo_url_four != nil %>
                                <img src="<%= (@gig.photo_url_four) %>" class="show-carousel-img" alt="...">
                                <% elsif @gig.photo_url_five != nil %>
                                <img src="<%= (@gig.photo_url_five) %>" class="show-carousel-img" alt="...">
                                <% end %>
                            </div>
                          </div>
                         <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                           <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                           <span class="visually-hidden">Previous</span>
                         </button>
                         <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                           <span class="carousel-control-next-icon" aria-hidden="true"></span>
                           <span class="visually-hidden">Next</span>
                         </button>
                   </div>
           </div>
      </div>
  </div>
  <div class="user-gig-page-suggested-title"> <p> Other <%= @gig.genre%> gigs you might like </p> </div>
  <div class="user-gig-page-suggested">
    <% unless @other_gigs.length == 1 %>
     <% @similar_gigs.each do |gig| %>
     <div class="user-gig-suggested-a">
              <% if gig.wiki_photo_url != nil %>
             <img src="<%= gig.wiki_photo_url %>" class="user-gig-suggested-image" alt="...">
              <% elsif gig.photo_url_four != nil %>
              <img src="<%= gig.photo_url_four %>" class="user-gig-suggested-image" alt="...">
              <% elsif gig.photo_url_five != nil %>
              <img src="<%= gig.photo_url_five %>" class="user-gig-suggested-image" alt="...">
              <% end %>
                   <h4>  <%= link_to "#{gig.artist }",  gig_path(gig) %> </h4>
             <h6><%= link_to "#{gig.venue  }", gig_path(gig) %> </h6>
             <h6> <%= link_to "#{gig.date.strftime("%e %b %Y")  }", gig_path(gig) %> </h6>
             <h6> <%= link_to "#{gig.genre }", gig_path(gig) %> </h6>
     </div>
     <% end %>
    <% end %>
  </div>

</div>
