<div class="container">
  <div class="gigs-buttons">
    <h2 class="pg"><%= link_to "Past Gigs", past_gigs_user_gigs_path, class: "link-pg-btn" %></h2>
          <div class="vl-s"></div>
    <h2 class="ug"><%= link_to "Upcoming Gigs", upcoming_gigs_user_gigs_path, class: "link-ug-btn" %></h2>
          <div class="vl-s"></div>
    <h2 class="gg"><%= link_to "Find a Gig", gigs_path, class: "link-gg-btn" %></h2>
  </div>

  <%# Info %>
  <%= link_to "Save!", gig_user_gigs_path(@gig), data: {turbo_method: :post}, class: "primary-button-inverse-medium d-inline-flex justify-content-end", id: "create-gig-btn" %>
  <div class="user-gig-page-main">
    <div class="user-gig-page-main-left">
      <div class="user-gig-page-main-left-about">
        <div class="artist-headline d-flex justify-content-between", style="width: 124%;">
          <h2> <%= @gig.artist %> <span> @ </span> <%= @gig.venue %></h2>
        </div>
          <p> <%= @gig.date.strftime("%e %b %Y") %> </p>
          <p> <span class="first-word"> <strong> <%= @gig.genre.capitalize %> </strong> </span> - <%= @gig.artist_info %> </p>
      </div>

      <%# Map %>
      <h3 class="mt-4"> The gig is here <i class="fa-solid fa-map-location-dot" style="color: #f4f798;"></i> </h3>
      <div class="show-map">
        <div style="width: 100%; height: 250px; "
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
    </div>

      <%# Music %>
    <div class="gig-page-main-right">

      <div class="">
      <h3 class="mt-4"> Pics of <%= @gig.artist %> </h3>
        <div class="carousel-border mt-1 d-flex align-items-center">
          <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner w-100 h-100">
              <div class="carousel-item active">
                <% if @gig.wiki_photo_url != nil %>
                  <img src="<%= (@gig.wiki_photo_url) %>" class="d-block carousel-img">
                <% elsif @gig.photo_url_two != nil %>
                  <img src="<%= (@gig.photo_url_two) %>" class="d-block carousel-img">
                <% elsif @gig.photo_url_three != nil %>
                  <img src="<%= (@gig.photo_url_three) %>" class="d-block carousel-img">
                <% elsif @gig.photo_url_four != nil %>
                  <img src="<%= (@gig.photo_url_four) %>" class="d-block carousel-img">
                <% elsif @gig.photo_url_five != nil %>
                  <img src="<%= (@gig.photo_url_five) %>" class="d-block carousel-img">
                <% end %>
              </div>
              <div class="carousel-item">
                <% if @gig.photo_url_two != nil %>
                  <img src="<%= (@gig.photo_url_two) %>" class="d-block carousel-img">
                <% elsif @gig.photo_url_three != nil %>
                  <img src="<%= (@gig.photo_url_three) %>" class="d-block carousel-img">
                <% elsif @gig.photo_url_four != nil %>
                  <img src="<%= (@gig.photo_url_four) %>" class="d-block carousel-img">
                <% end %>
              </div>
              <div class="carousel-item">
                <% if @gig.photo_url_three != nil %>
                  <img src="<%= (@gig.photo_url_three) %>" class="d-block carousel-img">
                <% elsif @gig.photo_url_four != nil %>
                  <img src="<%= (@gig.photo_url_four) %>" class="d-block carousel-img">
                <% elsif @gig.photo_url_five != nil %>
                  <img src="<%= (@gig.photo_url_five) %>" class="d-block carousel-img">
                <% end %>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>

      <div class="user-gig-page-main-right-spotify">
        <div class="player-headline d-flex justify-content-start">
          <h3> Listen now </h3> <%= image_tag "logo.png", id:"player-logo-gigs"%>
        </div>
        <div class="player-card-gigs">
          <div class="player-container">
            <ul>
              <div><p> <i class="fa-solid fa-circle"></i> <%= @gig.song_one %> <audio id="player" controls> <source src="<%= @gig.song_one_audio %>" type="audio/mpeg"> </audio></p></div>
              <div><p> <i class="fa-solid fa-circle"></i> <%= @gig.song_two %> <audio id="player" controls> <source src="<%= @gig.song_two_audio %>" type="audio/mpeg"> </audio></p></div>
              <div><p> <i class="fa-solid fa-circle"></i> <%= @gig.song_three %> <audio id="player" controls> <source src="<%= @gig.song_three_audio %>" type="audio/mpeg"> </audio></p></div>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
