<div class="container">
  <div class="upcoming-user-gig-page">
    <% unless @user_gigs.find { |user_gig| user_gig.gig_id == @gig.id && user_gig.user_id == @current_user.id } != nil %>
      <div class="d-flex gap-3">
        <% unless @gig.tickets == nil %>
          <a href="<%= @gig.tickets %>" target="_blank" class= "primary-button-inverse-medium d-inline-flex justify-content-end", id= "create-gig-btn"> Buy Tickets </a>
        <% end %>
        <%= link_to "Save!", gig_user_gigs_path(@gig), data: {turbo_method: :post}, class: "primary-button-inverse-medium d-inline-flex justify-content-end", id: "create-gig-btn" %>
      </div>
      <% else %>
        <%= link_to "Remove", user_gig_path(@user_gigs.find { |user_gig| user_gig.gig_id == @gig.id && user_gig.user_id }), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "d-inline-flex justify-content-end warning-button-medium" %>
    <% end %>

    <%# Info %>
    <div class="upcoming-user-gig-page-main">
      <div class="upcoming-user-gig-page-main-left">
        <div class="upcoming-user-gig-page-main-left-about">
          <div class="upcoming-artist-headline d-flex justify-content-between", style="width: 124%;">
            <h2> <%= @gig.artist.titleize%> <span> @ </span> <%= @gig.venue %></h2>
          </div>
            <div class="d-flex">
              <p>  <%= @gig&.date&.strftime("%e %b %Y") %></p>
              <% unless @gig.gig_price.empty? ||@gig.gig_price.nil?%>
                <p> &nbsp; - &nbsp; <span class="pound"><i class="fa-solid fa-euro-sign"></i><%= @gig.gig_price.to_i %></span></p>
              <% end %>
            </div>
            <p class="text-justify"> <span class="first-word"> <strong> <%= @gig.genre.titleize unless @gig.genre.nil?%> </strong> </span> - <%= @gig.artist_info %> </p>
        </div>

        <%# Map %>
        <% unless @gig.longitude.nil? %>
          <h3 class="mt-4"> The gig is here <i class="fa-solid fa-map-location-dot" style="color: #f4f798;"></i> </h3>
          <div class="show-map">
            <div style="width: 100%; height: 250px;"
              data-controller="map"
              data-map-markers-value="<%= @markers.to_json %>"
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
          </div>
        <% else %>
        <div class="mb-10">
          <h3 class="mt-4"></h3>
          <div class="carousel-border mt-1 d-flex align-items-center">
            <div id="carouselExampleIndicators" class="carousel slide">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner w-100 h-100">
                <div class="carousel-item active">
                  <% if @gig.wiki_photo_url != nil %>
                    <img src="<%= (@gig.wiki_photo_url) %>" class="d-block carousel-img">
                  <% elsif @gig.photo_url_two != nil %>
                    <img src="<%= (@gig.photo_url_two) %>" class="d-block carousel-img">
                  <% elsif @gig.photo_url_three != nil %>
                    <img src="<%= (@gig.photo_url_three) %>" class="d-block carousel-img">
                  <% elsif @gig.photo_url_four != nil %>
                    <img src="<%= (@gig.photo_url_four) %>" class="d-block carousel-img">
                  <% elsif @gig.photo_url_five != nil %>
                    <img src="<%= (@gig.photo_url_five) %>" class="d-block carousel-img">
                  <% end %>
                </div>
                <div class="carousel-item">
                  <% if @gig.photo_url_two != nil %>
                    <img src="<%= (@gig.photo_url_two) %>" class="d-block carousel-img">
                  <% elsif @gig.photo_url_three != nil %>
                    <img src="<%= (@gig.photo_url_three) %>" class="d-block carousel-img">
                  <% elsif @gig.photo_url_four != nil %>
                    <img src="<%= (@gig.photo_url_four) %>" class="d-block carousel-img">
                  <% end %>
                </div>
                <div class="carousel-item">
                  <% if @gig.photo_url_three != nil %>
                    <img src="<%= (@gig.photo_url_three) %>" class="d-block carousel-img">
                  <% elsif @gig.photo_url_four != nil %>
                    <img src="<%= (@gig.photo_url_four) %>" class="d-block carousel-img">
                  <% elsif @gig.photo_url_five != nil %>
                    <img src="<%= (@gig.photo_url_five) %>" class="d-block carousel-img">
                  <% end %>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
        <% end %>
      </div>

    <div class="gig-page-main-right">

      <%# Music player %>
        <div class="gigs-player">
          <div class="upcoming-player-headline d-flex justify-content-start">
            <h2> Listen now </h2> <%= image_tag "logo.png", id:"player-logo"%>
          </div>
          <div class="upcoming-player-card">
            <div class="upcoming-player-container">
              <ul>
              <% if @audio_one != nil %>
                <div><p> <i class="fa-solid fa-circle"></i> <%= @gig.song_one %> <audio id="player" controls> <source src="<%= @audio_one%>" type="audio/mpeg"></audio></p></div>
              <% end %>
              <% if @audio_two != nil %>
                <div><p> <i class="fa-solid fa-circle"></i> <%=@gig.song_two %> <audio id="player" controls> <source src="<%=  @audio_two %>" type="audio/mpeg"> </audio></p></div>
              <% end %>
              <% if @audio_three != nil %>
                <div><p> <i class="fa-solid fa-circle"></i> <%= @gig.song_three %> <audio id="player" controls> <source src="<%=  @audio_three %>" type="audio/mpeg"> </audio></p></div>
              <% end %>
              </ul>
            </div>
          </div>
        </div>

      <%# Photos carousel %>
        <% unless @gig.longitude.nil? %>
          <div class="mb-10">
            <h3 class="mt-4"></h3>
            <div class="carousel-border mt-1 d-flex align-items-center">
              <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner w-100 h-100">
                  <div class="carousel-item active">
                    <% if @gig.wiki_photo_url != nil %>
                      <img src="<%= (@gig.wiki_photo_url) %>" class="d-block carousel-img">
                    <% elsif @gig.photo_url_two != nil %>
                      <img src="<%= (@gig.photo_url_two) %>" class="d-block carousel-img">
                    <% elsif @gig.photo_url_three != nil %>
                      <img src="<%= (@gig.photo_url_three) %>" class="d-block carousel-img">
                    <% elsif @gig.photo_url_four != nil %>
                      <img src="<%= (@gig.photo_url_four) %>" class="d-block carousel-img">
                    <% elsif @gig.photo_url_five != nil %>
                      <img src="<%= (@gig.photo_url_five) %>" class="d-block carousel-img">
                    <% end %>
                  </div>
                  <div class="carousel-item">
                    <% if @gig.photo_url_two != nil %>
                      <img src="<%= (@gig.photo_url_two) %>" class="d-block carousel-img">
                    <% elsif @gig.photo_url_three != nil %>
                      <img src="<%= (@gig.photo_url_three) %>" class="d-block carousel-img">
                    <% elsif @gig.photo_url_four != nil %>
                      <img src="<%= (@gig.photo_url_four) %>" class="d-block carousel-img">
                    <% end %>
                  </div>
                  <div class="carousel-item">
                    <% if @gig.photo_url_three != nil %>
                      <img src="<%= (@gig.photo_url_three) %>" class="d-block carousel-img">
                    <% elsif @gig.photo_url_four != nil %>
                      <img src="<%= (@gig.photo_url_four) %>" class="d-block carousel-img">
                    <% elsif @gig.photo_url_five != nil %>
                      <img src="<%= (@gig.photo_url_five) %>" class="d-block carousel-img">
                    <% end %>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <%# Other gigs suggestions %>

  <% if @similar_gigs != nil %>
    <div class="upcoming-user-gig-page-suggested-title justify-content-center">
      <h4> Suggested <span><%= @gig.genre.capitalize unless @gig.genre.nil?%></span> gigs </h4>
    </div>
   <% end %>

  <% if @other_gigs.length > 0 %>
    <div class="container">
      <div class="row mt-4 mb-4 justify-content-center">
        <% unless @other_gigs.length == 1 || @other_gigs.length == 0 %>
          <% @similar_gigs.each do |gig| %>
            <div class="col-lg-4 col-md-6 col-sm-12 p-2">
              <div class="upcoming-user-gig-suggested">
                <%= link_to gig_path(gig) do %>
                  <% if gig.photo_url_two != nil %>
                    <img src="<%= gig.photo_url_two %>" class="upcoming-suggested-artist-image" alt="...">
                  <% elsif gig.photo_url_three != nil %>
                    <img src="<%=gig.photo_url_three %>" class="upcoming-suggested-artist-image" alt="...">
                  <% elsif gig.photo_url_three != nil %>
                    <img src="<%= gig.photo_url_three %>" class="upcoming-suggested-artist-image" alt="...">
                  <% elsif gig.photo_url_four != nil %>
                    <img src="<%= gig.photo_url_four %>" class="upcoming-suggested-artist-image" alt="...">
                  <% elsif gig.photo_url_five != nil %>
                    <img src="<%= gig.photo_url_five %>" class="upcoming-suggested-artist-image" alt="...">
                  <% end %>
                  <div class="upcoming-suggested-artist-details d-flex flex-column gap-1">
                    <h5 class="card-title"><%= link_to "#{gig.artist.titleize}", gig_path(gig) %></h3>
                    <p>
                    <%= link_to "#{gig.venue}", gig_path(gig), class: "span-venue-marker" %>
                    <%= link_to "#{gig.date.strftime("%e %b %Y")}", gig_path(gig), class: "card-text" %></p>
                    <%# <p><%= link_to "#{gig.genre}", gig_path(gig) %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
