<!DOCTYPE html>
<html>
  <head>
    <title>Melomane</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

     <%= favicon_link_tag "logo.png", rel: "icon", type: "image/png" %>
  </head>

  <body>
    <header>
      <% unless current_page?(root_path) %>
        <%= render "shared/navbar" %>
      <% end %>
      <%= render "shared/flashes" %>
    </header>

    <main>
      <% unless current_page?(root_path) %>
        <%= render "shared/nav_links" %>
      <% end %>
      
      <%= yield %>
      <div
        class="modal"
        tabindex="-1"
        data-controller="modal"
        data-action="turbo:frame-load->modal#open turbo:submit-end->modal#close"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <%= turbo_frame_tag "modal" %>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <% unless current_page?(root_path) && current_user %>
        <%= render 'shared/footer' %>
      <% end %>
    </footer>
  </body>
</html>
